// Ogre overlay scripts
Stunts/Menu
{
	zorder 500
	
	container Panel(Stunts/Background)
	{	
		metrics_mode pixels
		horz_align left
		vert_align top
		top 0
		left 0
		width 800
		height 600
		material Stunts/GuiBackground
	}
}

// A silly example of how you would do a 3D cockpit
//Examples/KnotCockpit
//{
//	zorder 100
//	entity knot.mesh(hudKnot)
//	{
//		position 0 0 -50
//		rotation 0 0 0 0
//	}
//
//}



